<div class="createNewRequirement">
    <h2 class="subtitle">Create a new requirement</h2>
    <form action="/ui/requirement" method="post">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" name="name" id="name" placeholder="The name of the requirement"></input>
            </div>
        </div>
        <div class="control">
            <input type="submit" class="button" value="Submit"/>
        </div>
    </form>
</div>