<div class="versionOverview">

    <div class="mt-5">
        <h2 class="subtitle">{{requirement.name}}</h2>
        <span class="is-size-6 is-italic">Version details</span>
        <p>Id: {{version.id}}</p>
        <p>Creation Timestamp: {{version.creationTimestamp}}</p>
    </div>
    <div class="mt-5">
        <h2 class="subtitle">Description</h2>
        <div class="box">
            <div class="content">
                <md-block>
                    {{#version.description}}
                    {{.}}
                    {{/version.description}}
                </md-block>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <form action="/ui/requirement/{{requirement.id}}/version/{{version.id}}/diff" method="post" id="compareForm">
            <div class="field">
                <label class="label">Compare with:</label>
                <div class="select">
                    <select name="version" id="version">
                        {{#versions}}
                        <option value="{{id}}">{{id}} | {{creationTimestamp}}</option>
                        {{/versions}}
                    </select>
                </div>
            </div>
            <div class="control">
                <input type="submit" class="button" value="Compare"/>
            </div>
        </form>
    </div>
</div>