<div class="versionOverview">
    <h1>{{requirement.name}}</h1>
    <h2>Version details</h2>
    <p>{{version.id}}</p>
    <p>{{version.creationTimestamp}}</p>
    <h2>Description</h2>
    <div class="content">
        <md-block>
            {{#version.description}}
            {{.}}
            {{/version.description}}
        </md-block>
    </div>
    <label for="version">Compare with:</label>
    <form action="/ui/requirement/{{requirement.id}}/version/{{version.id}}/diff" method="post" id="compareForm">
        <select name="version" id="version">
            {{#versions}}
            <option value="{{id}}">{{id}} | {{creationTimestamp}}</option>
            {{/versions}}
        </select>
        <input type="submit" value="Compare"></input>
    </form>
</div>