<div class="container">
    {{#error}}
    <div class="error">
        {{error}}
    </div>
    {{/error}}
    {{#info}}
    <div class="info">
        {{info}}
    </div>
    {{/info}}

    {{#showAllRequirements}}
        {{>layout/requirements}}
    {{/showAllRequirements}}

    {{#showRequirementOverview}}
        {{>layout/requirementOverview}}
    {{/showRequirementOverview}}

    {{#showNewVersionForm}}
        {{>layout/newVersionForm}}
    {{/showNewVersionForm}}
</div>